
html, body {
  background: rgba(226, 226, 226, 0.5);
  height:100%;
}
.row {
  width:100%;
  margin-top:50px;
  background:#1A1A1A;
  border-bottom: 3px solid #FF0057;
  display: grid;
  grid-template-columns: 35% auto 35%;
  align-items: center;
}

#price-container {
  margin-left: 20%;
  background:#353535;
  padding: 0 10px;
  text-align:center;
}
#goal-container {
  padding:20px;
}
.subtext {
  font-size:.8em;
  text-transform:uppercase;
  margin-bottom: 10px;
}
img {
  width: 20px;
}

h1 {
  margin: 0 0 10px 0;
}

button {
  float:right;
  background:#FF0057;
  border:none;
  color:#fff;
  text-transform:uppercase;
  padding:10px;
  margin-right: 30px;
  cursor:pointer;
}